<!-- about
<div class="about">
    <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
       <span class="icon"></span>
    </a>
    <a class="bg_links logo"></a>
 </div>
 end about -->
<!-- <div data-js="astro" class="astronaut">
    <div class="head"></div>
    <div class="arm arm-left"></div>
    <div class="arm arm-right"></div>
    <div class="body">
        <div class="panel"></div>
    </div>
    <div class="leg leg-left"></div>
    <div class="leg leg-right"></div>
    <div class="schoolbag"></div>
</div> -->

<header class="mainHeading">
    <div class="mainHeading__content">
        <article class="mainHeading__text">
            <p class="mainHeading__preTitle">Olá.</p>
            <h2 class="mainHeading__title">Seja bem-vindo!</h2>
            <p class="mainHeading__description">
                Meu nome é <b>Pedro Henrique</b>, e sou desenvolvedor com experiências em front-end e mobile.
                <br>
                Atualmente estou estudando engenharia e governança de dados
            </p>
        </article>

        <!-- <figure class="mainHeading__image"> -->
        <!-- <img
             src="https://images.unsplash.com/photo-1520856707909-75c4048cc858?ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80"
             alt=""
          /> -->
        <app-card style="z-index: 1000;"> </app-card>


        <!-- </figure> -->
    </div>



    <!-- <div style="display: flex;flex-direction: row;justify-content: center;height: 200px;margin-top: 40px;">

        <div>
        </div>
        <section>
            <div class="isolate">
                <div class="noise">• Cursando o 7º Semestre de ADS na Fatec-SP</div>
                <div class="overlay"></div>
            </div>
        </section>
        <section>
            <div class="isolate">
                <div class="noise">• Inglês intermediário
                </div>
                <div class="overlay"></div>
            </div>
        </section>
        <section>
            <div class="isolate"> 
                <div class="noise">• Técnico formado em eletroeletrônica pela ETEC-Pirituba
                </div>
                <div class="overlay"></div>
            </div>
        </section>

    </div> -->
    <div class="languages"
        style="text-align: center;color: rgb(236, 241, 255);text-transform: uppercase;margin-top: 0%;">
        Contatos:

    </div>
    <div class="languages"
        style="display: flex;flex-direction: row;justify-content: center;height: 6vh;margin-top: 2%;margin-bottom: 1%;">
        <div class="social-buttons">
            <a href="https://github.com/PedroCozzati/" target="_blank" class="social-button github">
                <svg class="cf-icon-svg" xmlns="http://www.w3.org/2000/svg" viewBox="-2.5 0 19 19">
                    <path
                        d="M9.464 17.178a4.506 4.506 0 0 1-2.013.317 4.29 4.29 0 0 1-2.007-.317.746.746 0 0 1-.277-.587c0-.22-.008-.798-.012-1.567-2.564.557-3.105-1.236-3.105-1.236a2.44 2.44 0 0 0-1.024-1.348c-.836-.572.063-.56.063-.56a1.937 1.937 0 0 1 1.412.95 1.962 1.962 0 0 0 2.682.765 1.971 1.971 0 0 1 .586-1.233c-2.046-.232-4.198-1.023-4.198-4.554a3.566 3.566 0 0 1 .948-2.474 3.313 3.313 0 0 1 .091-2.438s.773-.248 2.534.945a8.727 8.727 0 0 1 4.615 0c1.76-1.193 2.532-.945 2.532-.945a3.31 3.31 0 0 1 .092 2.438 3.562 3.562 0 0 1 .947 2.474c0 3.54-2.155 4.32-4.208 4.548a2.195 2.195 0 0 1 .625 1.706c0 1.232-.011 2.227-.011 2.529a.694.694 0 0 1-.272.587z">
                    </path>
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/pedrocozzati/" target="_blank" class="social-button linkedin">
                <svg viewBox="0 -2 44 44" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Icons" stroke="none" stroke-width="1">
                        <g transform="translate(-702.000000, -265.000000)">
                            <path
                                d="M746,305 L736.2754,305 L736.2754,290.9384 C736.2754,287.257796 734.754233,284.74515 731.409219,284.74515 C728.850659,284.74515 727.427799,286.440738 726.765522,288.074854 C726.517168,288.661395 726.555974,289.478453 726.555974,290.295511 L726.555974,305 L716.921919,305 C716.921919,305 717.046096,280.091247 716.921919,277.827047 L726.555974,277.827047 L726.555974,282.091631 C727.125118,280.226996 730.203669,277.565794 735.116416,277.565794 C741.21143,277.565794 746,281.474355 746,289.890824 L746,305 L746,305 Z M707.17921,274.428187 L707.117121,274.428187 C704.0127,274.428187 702,272.350964 702,269.717936 C702,267.033681 704.072201,265 707.238711,265 C710.402634,265 712.348071,267.028559 712.41016,269.710252 C712.41016,272.34328 710.402634,274.428187 707.17921,274.428187 L707.17921,274.428187 L707.17921,274.428187 Z M703.109831,277.827047 L711.685795,277.827047 L711.685795,305 L703.109831,305 L703.109831,277.827047 L703.109831,277.827047 Z"
                                id="LinkedIn">
                            </path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
       

    </div>
    <!-- <div class="languages"
        style="display: flex;flex-direction: row;justify-content: center;height: 6vh;margin-top: 2%;margin-bottom: 1%;">
        <a class="social-link2">
            <svg viewBox="0 0 16 16" class="bi bi-twitter" fill="currentColor" height="16" width="16" xmlns="http://www.w3.org/2000/svg" style="color: white"> <path fill="white" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path> </svg>              </a>
    </div> -->

    <div class="bottom-btn" >
        <button class="btn" (click)="scroll('target')">Projetos</button>

    </div>


</header>





<div style="margin-top: 100px;height: 800px;width: 100%;" id="target">
    <app-projects></app-projects>
</div>